@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --size: 1000px;
    --theme-light: #889b6f;
    --theme-dark: #667551;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav{
    background: #e8e8e8;
    padding: 10px calc(50% - var(--size) / 2);
    color: var(--theme-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

#nav__icons i{
    font-size: 24px;
    transition: 0.2s;
    cursor: pointer;
    color: var(--theme-dark);
}

#nav__icons i:hover{
    color: var(--theme-light);
}

section{
    display: flex;
    width: var(--size);
    margin: 15px auto auto;
    column-gap: 15px;
}

main{
    flex: 1;
    height: calc(100vh - 80px);
}

aside{
    width: 200px;
    height: fit-content;
    height: 200px;
    padding: 10px;
    background: #e8e8e8;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
aside h1{
    margin: 0;
    text-align: center;
}

aside button{
    padding: 10px;
    background: none;
    border-radius: 4px;
    border: 2px solid var(--theme-dark);
    color: var(--theme-dark);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
}

aside button:hover{
    opacity: 0.8;
}

aside button:active{
    opacity: 0.5;
}

#searchbar{
    display: flex;
    column-gap: 5px;
    margin-bottom: 5px;
}

#search{
    height: 40px;
    flex: 1;
    outline: none;
    padding: 0 10px;
}

#search__button{
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
    background: var(--theme-light);
    color: white;
    border: 0;
    border-radius: 4px;
    transition: 0.2s;
}

#search__button:hover{
    background: var(--theme-dark);
}

#results{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: calc(100% - 140px);
    overflow: auto;
}

.result{
    border: 1px solid gray;
    border-radius: 4px;
}

.result.starred{
    border: 3px solid gold;
    box-shadow: 9px 5px 16px 0 gold;
}

.result.starred .star{
    color: #a18700;
}

.result__data{
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    word-break: break-all;
}

.result h1{
    margin: 0;
}

#next_page{
	display: flex;
	flex-direction: row;
    column-gap: 5px;
    width: 100%;
    justify-content: center;
}

.page_link{
    cursor: pointer;
    border: 3px solid var(--theme-dark);
    color: var(--theme-dark);
    font-weight: bolder;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 4px;
    transition: 0.2s;
}

.page_link:hover{
    background: var(--theme-light);
    color: white;
    border-color: var(--theme-light)
}

.page_link.disabled{
    opacity: 0.5;
    background: none;
    color: var(--theme-dark);
    border-color: var(--theme-dark);
    pointer-events: none;
}

.page_link.highlighted{
    background: var(--theme-dark);
    border-color: var(--theme-dark);
    color: white;
}

.result__btns{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-top: solid;
    border-width: inherit;
    border-color: inherit;
    justify-content: space-between;
}

.result__btn{
    cursor: pointer;
    user-select: none;
}

.result__btn:hover{
    text-decoration: underline;
}

#edit__wrapper{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#edit{
    width: var(--size);
    margin: 75px auto auto auto;
    background: white;
    padding: 20px;
    max-height: calc(100vh - 115px);
    overflow: auto;
}

.close{
    display: inline-block;
    cursor: pointer;
    color: red;
}

.close:hover{ /* Since I'm feeling like it */
    animation: spin 1s infinite ease;
}

#edit__question_type, #edit__question_subject{
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: var(--theme-light);
    border-bottom: 2px solid var(--theme-light);
    cursor: pointer;
    outline: none;
    text-align: center;
    background: none;
}

/* We do a little overriding */
.discord-field-title{
    color: white !important;
    font-weight: bolder;
}

#edit__question_textarea{
    font-family: inherit;
    background: none;
    color: inherit;
    border: none;
    border-bottom: 2px solid var(--theme-light);
    resize: vertical;
    width: 100%;
    outline: none;
}

#edit__answer_textarea{
    background: #1e1f22;
    padding: 3px 5px;
    outline: none;
    font-family: monospace;
    border: 2px soid var(--theme-light);

}

#edit__save {
    margin-top: 20px;
    background: var(--theme-dark);
    color: white;
    padding: 16px;
    border: 0;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

#edit__save:hover{
    opacity: 0.8;
}

#edit__save:active{
    opacity: 0.5;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(270deg);
    }
}

@media (max-width: 1030px){
    :root{
        --size: calc(100vw - 30px);
    }
}
