<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Scibowlbot</title>
    <link rel="stylesheet" href="/static/css/edit.css">
    <link rel="icon" href="/static/scibowlbot.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/auth0/jwt-decode/build/jwt-decode.js"></script>
</head>
<body>
    {% include "nav.html" %}
    <section>
        <main id="all_questions">
            <div id="searchbar">
                <input id="search" placeholder="What to search?" autocomplete="off">
                <button id="search__button">Go!</button>
            </div>
            <div id="search__statistics">0 Results in 0.000 Seconds<br>50 results per page</div>
            <div id="next_page"></div>
            <div id="results"></div>
        </main>
        <aside>
            <h1>Settings</h1>
            <button id="toggle_questions" data-mode="questions"><i class="fa-solid fa-star"></i> Search Starred Items</button>
            <h1>Filters</h1>
            <div class="select" id="filter_subjects">
                <div class="select_title">
                    <div class="select_selected"></div>
                    <div class="icon">
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
                <div class="select_body">
                    <div class="select_body_container"></div>
                    <div class="select_extra_options">
                        <button class="select_select_all"><i class="fa-sharp fa-regular fa-square-check"></i> Select All</button>
                        <button class="select_deselect_all"><i class="fa-regular fa-square"></i> Deselect All</button>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    {% include "edit_modal.html" %}
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/edit.js" defer></script>
</body>
</html>