<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Scibowlbot</title>
    <link rel="stylesheet" href="/static/css/edit.css">
    <link rel="icon" href="/static/scibowlbot.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/auth0/jwt-decode/build/jwt-decode.js"></script>
</head>
<body>
    {% include "nav.html" %}
    <section>
        <main id="all_questions">
            <div id="searchbar">
                <input id="search" placeholder="What to search?" autocomplete="off">
                <button id="search__button">Go!</button>
            </div>
            <div id="search__statistics">0 Results in 0.000 Seconds<br>50 results per page</div>
            <div id="next_page"></div>
            <div id="results"></div>
        </main>
        <aside>
            <h1>Settings</h1>
            <button id="toggle_questions" data-mode="questions"><i class="fa-solid fa-star"></i> Search Starred Items</button>
            <h1>Filters</h1>
            <div class="select" id="filter_subjects">
                <div class="select_title">
                    <div class="select_selected"></div>
                    <div class="icon">
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
                <div class="select_body">
                    <div class="select_body_container"></div>
                    <div class="select_extra_options">
                        <button class="select_select_all"><i class="fa-sharp fa-regular fa-square-check"></i> Select All</button>
                        <button class="select_deselect_all"><i class="fa-regular fa-square"></i> Deselect All</button>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <div id="edit__wrapper" class="modal">
        <div id="edit" class="modal_content">
            <h1>Propose an edit <span class="close">&times;</span></h1>
            <discord-messages>
                <discord-message profile="user">
                    <discord-mention>scibowlbot</discord-mention> q <span id="edit__invoke_subject"></span>
                </discord-message>
                <discord-message profile="scibowlbot">
                    <discord-embed slot="embeds"
                                   color="#3498db"
                                   embed-title="Question ID: "
                                   author-name="Unattempted"
                                   id="edit__embed"
                    >
                        <discord-embed-fields slot="fields">
                            <discord-embed-field>
                                <div class="discord-field-title">
                                    <select id="edit__question_subject">
                                        <option value="astro">Astronomy</option>
                                        <option value="bio">Biology</option>
                                        <option value="chem">Chemistry</option>
                                        <option value="crazy">Crazy</option>
                                        <option value="cs">Computer Science</option>
                                        <option value="eas">Earth and Space</option>
                                        <option value="energy">Energy</option>
                                        <option value="es">Earth Science</option>
                                        <option value="gen">General Science</option>
                                        <option value="math">Mathematics</option>
                                        <option value="phy">Physics</option>
                                        <option value="weird">Weird</option>
                                    </select>
                                    <select id="edit__question_type">
                                        <option value="Multiple Choice">Multiple Choice</option>
                                        <option value="Short Answer">Short Answer</option>
                                    </select>
                                    (Source: <span id="edit__source">Official-set1-round1</span>)
                                </div>
                                <textarea id="edit__question_textarea"></textarea>
                            </discord-embed-field>
                            <discord-embed-field field-title="Timer">
                                Question has expired.
                            </discord-embed-field>
                            <discord-embed-field field-title="Timeout">
                                No one has buzzed. The answer was <span id="edit__answer_textarea" contenteditable="true" spellcheck="false"></span>
                            </discord-embed-field>
                        </discord-embed-fields>
                    </discord-embed>
                </discord-message>
            </discord-messages>
            <button id="edit__save"><i class="fas fa-save"></i> Save and Exit</button>
        </div>
    </div>
    <script src="/static/js/edit.js" defer></script>
</body>
</html>