<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Scibowlbot</title>
    <link rel="stylesheet" href="/static/css/suggestions.css">
    <link rel="icon" href="/static/scibowlbot.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/auth0/jwt-decode/build/jwt-decode.js"></script>
</head>
<body>
    {% include "nav.html" %}
    <header>
        <h1>Suggestions/Issues</h1>
    </header>
    <section>
        <aside id="issues_list">
            {% for id, data in issues.items() %}
                <div class="issue">
                    <div class="issue_status">
                        {% if data["open"] %}
                            <i class="fa-solid fa-circle-dot issue_open"></i>
                        {% else %}
                            <i class="fa-solid fa-circle-check issue_closed"></i>
                        {% endif %}
                    </div>
                    <div class="issue_info">
                        <span class="issue_id">{{ id }}</span>
                        <span class="issue_metainfo">
                            <span class="issue_sender">
                                {{ data["sender_name"] }}
                            </span>
                            <span class="issue_question">
                                Question #{{ data["question_id"] }}
                            </span>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </aside>
        <main>
            <h1 id="focused_name">
                Issue <span id="focused_id">VNRBU</span>
            </h1>
            <div class="warning">
                <b><i class="fa-solid fa-triangle-exclamation"></i> Warning:</b> This question has been edited since this issue was filed. Some aspects may already be fixed.
            </div>
            <div class="result" data-id="323">
                <div class="result__data">
                    <h1>BIOLOGY - Short Answer</h1>
                    <b>Official-set1-round5 (ID: 323)</b>
                    <span>What are the common names for the 2 functional groups that combine to form a peptide bond?</span>
                    <span><b>ANSWER: </b> AMINO; CARBOXYL (ACCEPT: AMINE AND CARBOXYLIC ACID)</span>
                </div>
                <div class="result__btns">
                    <div class="result__btn edit"><i class="fa-solid fa-pen-to-square"></i> Edit</div>
                    <div class="result__btn star" data-id="323"><i class="fa-solid fa-star"></i> Star</div>
                </div>
            </div>
        </main>
    </section>

    {% if not data %}
        <div class="modal" style="display: block">
            <div class="modal_content">
                <h1>Login Needed</h1>
                Please <a href="{{ login }}">log in</a> to access this website.
            </div>
        </div>
    {% endif %}

    {% if not authorized and data %}
        <div class="modal" style="display: block">
            <div class="modal_content">
                <h1>Unauthorized</h1>
                Sorry, you do not have authorization to proceed to this part of the website
            </div>
        </div>
    {% endif %}

    <script>
        const issues_list = {{ issues|tojson|safe }}
    </script>
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/suggestions.js" defer></script>
</body>
</html>