<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Scibowlbot</title>
    <link rel="stylesheet" href="/static/css/suggestions.css">
    <link rel="icon" href="/static/scibowlbot.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/auth0/jwt-decode/build/jwt-decode.js"></script>
</head>
<body>
    {% include "nav.html" %}
    <header>
        <h1>Suggestions/Issues</h1>
    </header>
    <section>
        <aside id="issues_list">
            {% for id, data in issues.items() %}
                <div
                        class="issue {{ "highlighted" if id == suggestion else "" }}"
                        id="issue_list_{{ id }}"
                        onclick="location.href='/suggestions/{{ id }}#issue_list_{{ id }}'"
                >
                    <div class="issue_status">
                        {% if data["open"] %}
                            <i class="fa-solid fa-circle-dot issue_open"></i>
                        {% else %}
                            <i class="fa-solid fa-circle-check issue_closed"></i>
                        {% endif %}
                    </div>
                    <div class="issue_info">
                        <span class="issue_id">{{ id }}</span>
                        <span class="issue_metainfo">
                            <span class="issue_sender">
                                {{ data["sender_name"] }}
                            </span>
                            <span class="issue_question">
                                Question #{{ data["question_id"] }}
                            </span>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </aside>
        {% if suggestion %}
        <main>
            <div id="focused_name">
                <div id="focused_subheader">
                    <div class="left">
                        Scibowlbot
                    </div>
                    <div class="right">
                        <div class="info">1 of {{ issues|length }}</div>
                        <div id="focused_options_up"><i class="fa-solid fa-angle-up"></i></div>
                        <div id="focused_options_down"><i class="fa-solid fa-angle-down"></i></div>
                        <div id="focused_options_fullscreen"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></div>
                    </div>
                </div>
                <h1>Issue <span id="focused_id">{{ suggestion }}</span></h1>
            </div>
            <select id="change_status">
                <option {{ "selected" if issues[suggestion]["open"] else "" }}>Open</option>
                <option {{ "selected" if not issues[suggestion]["open"] else "" }}>Closed</option>
            </select>
            {% if true %}
            <div class="warning">
                <b><i class="fa-solid fa-triangle-exclamation"></i> Warning:</b> This question has been edited since this issue was filed. Some aspects may already be fixed.
            </div>
            {% endif %}
            <div id="focused_details">
                <h1 onclick="$('#focused_details').toggleClass('hide')"><i class="fa-solid fa-angle-down"></i> Details</h1>
                <div class="focused_detail" id="focused_detail_time">
                    <b>Filed: </b>
                    <span>{{ issues[suggestion]["filed"] }}</span>
                </div>
                <div class="focused_detail">
                    <b>Reported By: </b>
                    <span>
                        <code data-content="{{ issues[suggestion]["sender_name"] }}">{{ issues[suggestion]["sender_name"] }}</code>
                        (ID: <code data-content="{{ issues[suggestion]["sender_id"] }}">{{ issues[suggestion]["sender_id"] }}</code>)</span>
                </div>
                <div class="focused_detail">
                    <b>Question: </b>
                    <span>#{{ issues[suggestion]["question_id"] }}</span>
                </div>
                <div class="focused_detail">
                    <b>User's Response: </b>
                    <span><code data-content="{{ issues[suggestion]["response"] }}">{{ issues[suggestion]["response"] }}</code></span>
                </div>
                <div class="focused_detail">
                    <b>Issue: </b>
                    <span>{{ issues[suggestion]["error"] }}</span>
                </div>
            </div>
            <div id="focused_question"></div>
        </main>
        {% endif %}
    </section>

    {% include "edit_modal.html" %}

    {% if not data %}
        <div class="modal" style="display: block">
            <div class="modal_content">
                <h1>Login Needed</h1>
                Please <a href="{{ login }}">log in</a> to access this website.
            </div>
        </div>
    {% endif %}

    {% if not authorized and data %}
        <div class="modal" style="display: block">
            <div class="modal_content">
                <h1>Unauthorized</h1>
                Sorry, you do not have authorization to proceed to this part of the website
            </div>
        </div>
    {% endif %}

    <script>
        const issues_list = {{ issues|tojson|safe }}
        const focused_question = `{{ issues[suggestion]["question_id"] }}`
        const suggestion_name = `{{ suggestion }}`
    </script>
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/suggestions.js" defer></script>
</body>
</html>